$primary-color: #8c52e5;
$secundary-color: #68de5a;
$text-color: #000000;
$text-color-2: #ffffff;
$radius: 5px;
$danger-color: #e61d1d;
$warning-color: #fdd700;
$row-even: #ba97ef;
$row-odd: #dccbf7;
$shadow: #00000044;